body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* room1 */
.tong {
    width: auto;
    height: 60px;
    background-color: rgba(248, 248, 248, 1);
}

.trangchu {
    display: flex;
    padding: 20px;
    margin: 0 25px;
}

.trangchu h5 a {
    color: black;
    font-weight: 400;
    padding: 0 10px;
    text-decoration: none;
}

.trangchu span {
    font-weight: 400;
    color: rgba(193, 155, 118, 1);
}

.se1 {
    width: auto;
    height: 400px;
    background-image: url(../images/room.png);
    background-size: cover;
}

.a-1 h3 {
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.a-2 p {
    color: white;
    text-align: center;
    line-height: 1;
    font-size: 18px;
}

.sec1 {
    height: 620px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.don {
    height: 400px;
    width: 600px;
    border: 10px solid #dad9d9;
    margin: auto;

}




.noidung {
    padding: 30px;
    width: 700px;
    height: 550px;
}

.noidung1 h4 {
    line-height: 2;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.noidung2 p {
    line-height: 1, 5;
    font-size: 18px;
    color: rgb(113, 110, 110);
}

.vnd-1 {
    font-size: 26px;
    vertical-align: top;
}

.so {
    font-size: 54px;
}

.danhsach {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.danhsach .num {
    vertical-align: super;
}

.danhsach ul {
    list-style-type: square;
}



.hop-1 {
    width: 90%;
    margin: 40px auto;

}


.custom-buys-1 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buys-1 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buys-1 span a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buys-1:before,
.buys-1:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buys-1:before {
    height: 0%;
    width: 2px;
}

.buys-1:after {
    width: 0%;
    height: 2px;
}

.buys-1:hover {
    background: transparent;
    box-shadow: none;
}

.buys-1:hover:before {
    height: 100%;
}

.buys-1:hover:after {
    width: 100%;
}

.buys-1 span a:hover {
    color: rgb(167, 99, 31);
}

.buys-1 span a {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.buys-1 span a:before,
.buys-1 span a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buys-1 span a:before {
    width: 2px;
    height: 0%;
}

.buys-1 span a:after {
    width: 0%;
    height: 2px;
}

.buys-1 span a:hover:before {
    height: 100%;
}

.buys-1 span a:hover:after {
    width: 100%;
}

.sec2 {
    background-color: #eef1f5;
    height: 620px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.doi {
    height: 400px;
    width: 600px;
    border: 10px solid #dad9d9;
    margin: auto;
}


.noidung3 {
    padding: 30px;
    width: 700px;
    height: 550px;
}

.noidung4 h4 {
    line-height: 2;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.noidung5 p {
    line-height: 1, 5;
    font-size: 18px;
    color: rgb(113, 110, 110);
}

.vnd1 {
    font-size: 26px;
    vertical-align: top;
}

.so1 {
    font-size: 54px;
}

.danhsach1 {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.danhsach1 .num {
    vertical-align: super;
}

.danhsach1 ul {
    list-style-type: square;
}

.hop1 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy2 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.buy-2 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-2 span a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-2:before,
.buy-2:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-2:before {
    height: 0%;
    width: 2px;
}

.buy-2:after {
    width: 0%;
    height: 2px;
}

.buy-2:hover {
    background: transparent;
    box-shadow: none;
}

.buy-2:hover:before {
    height: 100%;
}

.buy-2:hover:after {
    width: 100%;
}

.buy-2 span a:hover {
    color: rgb(167, 99, 31);
}

.buy-2 span a:before,
.buy-2 span a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-2 span a {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.buy-2 span a:before {
    width: 2px;
    height: 0%;
}

.buy-2 span a:after {
    width: 0%;
    height: 2px;
}

.buy-2 span a:hover:before {
    height: 100%;
}

.buy-2 span a:hover:after {
    width: 100%;
}

.sec3 {
    height: 620px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.giadinh {
    height: 400px;
    width: 600px;
    border: 10px solid #dad9d9;
    margin: auto;
}





.noidung6 {
    padding: 30px;
    width: 700px;
    height: 550px;
}

.noidung7 h4 {
    line-height: 2;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.noidung8 p {
    line-height: 1, 5;
    font-size: 18px;
    color: rgb(113, 110, 110);
}

.vnd2 {
    font-size: 26px;
    vertical-align: top;
}

.so2 {
    font-size: 54px;
}

.danhsach2 {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.danhsach2 .num {
    vertical-align: super;
}

.danhsach2 ul {
    list-style-type: square;
}


.hop2 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy3 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}


.buy-3 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-3 span a {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.buy-3 span a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
   
}

.buy-3:before,
.buy-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-3:before {
    height: 0%;
    width: 2px;
}

.buy-3:after {
    width: 0%;
    height: 2px;
}

.buy-3:hover {
    background: transparent;
    box-shadow: none;
}

.buy-3:hover:before {
    height: 100%;
}

.buy-3:hover:after {
    width: 100%;
}

.buy-3 span a:hover {
    color: rgb(167, 99, 31);
}

.buy-3 span a:before,
.buy-3 span a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-3 span a:before {
    width: 2px;
    height: 0%;
}

.buy-3 span a:after {
    width: 0%;
    height: 2px;
}

.buy-3 span a:hover:before {
    height: 100%;
}

.buy-3 span a:hover:after {
    width: 100%;
}

.sec4 {
    background-color: #eef1f5;
    height: 620px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.sute {
    height: 396px;
    width: 600px;
    border: 10px solid #dad9d9;
    margin: auto;
}


.noidung9 {
    padding: 30px;
    width: 700px;
    height: 550px;
}

.noidung10 h4 {
    line-height: 2;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.noidung11 p {
    line-height: 1, 5;
    font-size: 18px;
    color: rgb(113, 110, 110);
}

.vnd3 {
    font-size: 26px;
    vertical-align: top;
}

.so3 {
    font-size: 54px;
}

.danhsach3 {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.danhsach3 .num {
    vertical-align: super;
}

.danhsach3 ul {
    list-style-type: square;
}

.hop-3 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy-4 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}


.buy-4 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-4 span a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.buy-4 span a a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-4:before,
.buy-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-4:before {
    height: 0%;
    width: 2px;
}

.buy-4:after {
    width: 0%;
    height: 2px;
}

.buy-4:hover {
    background: transparent;
    box-shadow: none;
}

.buy-4:hover:before {
    height: 100%;
}

.buy-4:hover:after {
    width: 100%;
}

.buy-4 span a:hover {
    color: rgb(167, 99, 31);
}

.buy-4 span a:before,
.buy-4 span a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-4 span a:before {
    width: 2px;
    height: 0%;
}

.buy-4 span a:after {
    width: 0%;
    height: 2px;
}

.buy-4 span a:hover:before {
    height: 100%;
}

.buy-4 span a:hover:after {
    width: 100%;
}

/* viewphong */

.tong1 {
    width: auto;
    height: 60px;
    background-color: rgba(248, 248, 248, 1);
}

.trangchu1 {
    display: flex;
    padding: 20px;
    margin: 0 25px;
}

.trangchu1 h5 a {
    font-size: 20px;
    color: black;
    font-weight: 400;
    padding: 0 5px;
    text-decoration: none;
}

.trangchu1 span {
    font-weight: 400;
    color: rgba(193, 155, 118, 1);
}

.se2 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 380px;
}

.timkiem {
    text-align: center;
    padding: 80px;
    line-height: 3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.a2 h2 {
    font-size: 50px;
    color: white;
}

.timkiem1 {
    width: 80%;
    height: 200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timkiem2 {
    background-color: rgb(255, 255, 255);
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.2);

}

.b,
.b1,
.b2,
.b3 {
    text-align: center;
    padding: 10px;
}

.i,
.o,
.s,
.c {
    font-weight: bold;
}

.ngayden,
.ngaydi {
    width: 150px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.ss,
.cc {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.hop4 {
    width: 90%;
    margin: 34px auto;

}


.custom-buy5 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.buy-5 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-5 span a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-5:before,
.buy-5:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-5:before {
    height: 0%;
    width: 2px;
}

.buy-5:after {
    width: 0%;
    height: 2px;
}

.buy-5:hover {
    background: transparent;
    box-shadow: none;
}

.buy-5:hover:before {
    height: 100%;
}

.buy-5:hover:after {
    width: 100%;
}

.buy-5 span:hover {
    color: rgb(167, 99, 31);
}

.buy-5 span:before,
.buy-5 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-5 span:before {
    width: 2px;
    height: 0%;
}

.buy-5 span:after {
    width: 0%;
    height: 2px;
}

.buy-5 span:hover:before {
    height: 100%;
}

.buy-5 span:hover:after {
    width: 100%;
}

.hidden {
    width: 100%;
    height: 120px;
}

.stc1 {
    background-color: rgb(255, 255, 255);
    height: 830px;
    display: flex;
    padding-top: 100px;
}

.don1 {
    margin: auto;
    flex: 0 0 auto;
    height: 573px;
    width: 850px;
    border: 10px solid #dad9d9;
}

.noidungg {
    width: 700px;
    height: 550px;
    margin: auto;
}


.noidung-1 h4 {
    line-height: 2;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.noidung-2 p {
    line-height: 1;
    font-size: 18px;
    color: rgb(113, 110, 110);
}

.vnd4 {
    font-size: 26px;
    vertical-align: top;
}

.so4 {
    font-size: 54px;
}

.danhsach4 {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.danhsach4 .num {
    vertical-align: super;
}

.danhsach4 ul {
    list-style-type: square;
}



.hop5 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy6 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buy-6 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-6 span a {
    color: white;
}

.buy-6 span a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-6:before,
.buy-6:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-6:before {
    height: 0%;
    width: 2px;
}

.buy-6:after {
    width: 0%;
    height: 2px;
}

.buy-6:hover {
    background: transparent;
    box-shadow: none;
}

.buy-6:hover:before {
    height: 100%;
}

.buy-6:hover:after {
    width: 100%;
}

.buy-6 span a:hover {
    color: rgb(167, 99, 31);
}

.buy-6 span a:before,
.buy-6 span a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-6 span a:before {
    width: 2px;
    height: 0%;
}

.buy-6 span a:after {
    width: 0%;
    height: 2px;
}

.buy-6 span a:hover:before {
    height: 100%;
}

.buy-6 span a:hover:after {
    width: 100%;
}


.stc2 {
    background-color: rgb(255, 255, 255);
    height: 720px;
    display: flex;
}

.doi2 {
    margin: auto;
    flex: 0 0 auto;
    height: 573px;
    width: 850px;
    border: 10px solid #dad9d9;
}


.noidung-3 {
    width: 700px;
    height: 550px;
    margin: auto;
}

.noidung-4 h4 {
    line-height: 2;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.noidung-5 p {
    line-height: 1;
    font-size: 18px;
    color: rgb(113, 110, 110);
}

.vnd5 {
    font-size: 26px;
    vertical-align: top;
}

.so5 {
    font-size: 54px;
}

.danhsach5 {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.danhsach5 .num {
    vertical-align: super;
}

.danhsach5 ul {
    list-style-type: square;
}



.hop6 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy7 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buy-7 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-7 span a {
    color: white;
}

.buy-7 span a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-7:before,
.buy-7:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-7:before {
    height: 0%;
    width: 2px;
}

.buy-7:after {
    width: 0%;
    height: 2px;
}

.buy-7:hover {
    background: transparent;
    box-shadow: none;
}

.buy-7:hover:before {
    height: 100%;
}

.buy-7:hover:after {
    width: 100%;
}

.buy-7 span a:hover {
    color: rgb(167, 99, 31);
}

.buy-7 span a:before,
.buy-7 span a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-7 span a:before {
    width: 2px;
    height: 0%;
}

.buy-7 span a:after {
    width: 0%;
    height: 2px;
}

.buy-7 span a:hover:before {
    height: 100%;
}

.buy-7 span a:hover:after {
    width: 100%;
}


.stc3 {
    background-color: rgb(255, 255, 255);
    height: 720px;
    display: flex;
}

.giadinh1 {
    margin: auto;
    flex: 0 0 auto;
    height: 573px;
    width: 850px;
    border: 10px solid #dad9d9;
}



.noidung-6 {
    width: 700px;
    height: 550px;
    margin: auto;
}

.noidung-7 h4 {
    line-height: 2;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.noidung-8 p {
    line-height: 1;
    font-size: 18px;
    color: rgb(113, 110, 110);
}

.vnd6 {
    font-size: 26px;
    vertical-align: top;
}

.so6 {
    font-size: 54px;
}

.danhsach6 {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.danhsach6 .num {
    vertical-align: super;
}

.danhsach6 ul {
    list-style-type: square;
}



.hop7 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy8 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buy-8 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-8 span a {
    color: white;
}

.buy-8 span a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-8:before,
.buy-8:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-8:before {
    height: 0%;
    width: 2px;
}

.buy-8:after {
    width: 0%;
    height: 2px;
}

.buy-8:hover {
    background: transparent;
    box-shadow: none;
}

.buy-8:hover:before {
    height: 100%;
}

.buy-8:hover:after {
    width: 100%;
}

.buy-8 span a:hover {
    color: rgb(167, 99, 31);
}

.buy-8 span a:before,
.buy-8 span a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-8 span a:before {
    width: 2px;
    height: 0%;
}

.buy-8 span a:after {
    width: 0%;
    height: 2px;
}

.buy-8 span a:hover:before {
    height: 100%;
}

.buy-8 span a:hover:after {
    width: 100%;
}


.showlist {
    height: 80px;
    width: 100%;

}

.s1 {
    display: flex;
    font-size: 18px;
    margin: 0 40px;

}

.s1>span {
    margin: 0 5px;
}

.s1 span a {
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* bar */

.tong3 {
    width: auto;
    height: 60px;
    background-color: rgba(248, 248, 248, 1);
}

.trangchu3 {
    display: flex;
    padding: 20px;
    margin: 0 25px;
}

.trangchu3 h5 a {
    color: black;
    font-weight: 400;
    padding: 0 10px;
    text-decoration: none;
}

.trangchu3 span {
    font-weight: 400;
    color: rgba(193, 155, 118, 1);
}

.se3 {
    width: auto;
    height: 400px;
    background-image: url(/content/images/bar.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.a-3 h3 {
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.a-4 p {
    color: white;
    text-align: center;
    line-height: 1;
    font-size: 18px;
}

.se4 {
    width: 100%;
    height: 50px;

}

.se4 h2 {
    padding: 45px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.thucdon {

    display: flex;
    justify-content: space-evenly;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.thucdon h5 {
    font-weight: bold;
    font-size: 23px;
}

.thucdon span {
    color: #9ea5ab;
    line-height: 3;

}

.se4 img {
    height: 350px;
    width: 400px;
    border: 10px solid #717171;
}

.hidden1 {
    width: 100%;
    height: 500px;
}

.se5 {
    background-color: rgba(243, 243, 243, 0.747);
    width: 100%;
    height: 550px;

}

.se5 h2 {
    padding: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.thucdon2 {
    display: flex;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mon5 img,
.mon6 img,
.mon7 img {
    width: 420px;
    height: 360px;
    border: 8px solid #717171;
}

.thucdon2 h3 {
    color: black;
    line-height: 2;
    font-weight: 700;
    font-size: 20px;
}


.hidden2 {
    width: 100%;
    height: 20px;
}

.se6 {
    width: 100%;
}

.se6 h2 {
    padding: 45px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.thucdon3 {

    display: flex;
    justify-content: space-evenly;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.thucdon3 h5 {
    font-weight: bold;
    font-size: 23px;
}

.thucdon3 span {
    color: #9ea5ab;
    line-height: 3;

}

.se6 img {
    height: 450px;
    width: 550px;
    border: 10px solid #717171;
}

.hidden3 {
    width: 100%;
    height: 150px;
}

.dow {
    background-color: rgb(234, 225, 213);
    width: 100%;
    height: 250px;

}

.dow h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}

.hop9 {
    position: relative;
    left: 39%;
    /* width: 90%; */
    /* margin: 40px auto; */
    /* padding-left: 510px; */

}


.custom-buy10 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.buy-10 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 430px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-10 span a {
    color: white;
}

.buy-10 span a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-10:before,
.buy-10:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-10:before {
    height: 0%;
    width: 2px;
}

.buy-10:after {
    width: 0%;
    height: 2px;
}

.buy-10:hover {
    background: transparent;
    box-shadow: none;
}

.buy-10:hover:before {
    height: 100%;
}

.buy-10:hover:after {
    width: 100%;
}

.buy-10 span a:hover {
    color: rgb(167, 99, 31);
}

.buy-10 span a:before,
.buy-10 span a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-10 span a:before {
    width: 2px;
    height: 0%;
}

.buy-10 span a:after {
    width: 0%;
    height: 2px;
}

.buy-10 span a:hover:before {
    height: 100%;
}

.buy-10 span a:hover:after {
    width: 100%;
}

/* check-out */

.tong2 {
    width: auto;
    height: 60px;
    background-color: rgba(248, 248, 248, 1);
}

.trangchu2 {
    display: flex;
    padding: 20px;
    margin: 0 25px;
}

.trangchu2 h5 a {
    font-size: 20px;
    color: black;
    font-weight: 400;
    padding: 0 5px;
    text-decoration: none;
}

.trangchu2 span {
    font-weight: 400;
    color: rgba(193, 155, 118, 1);
}

.az {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.hop8 {
    width: 85%;
    margin: 40px auto;

}


.custom-buy9 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buy-9 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 630px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-9 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-9:before,
.buy-9:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-9:before {
    height: 0%;
    width: 2px;
}

.buy-9:after {
    width: 0%;
    height: 2px;
}

.buy-9:hover {
    background: transparent;
    box-shadow: none;
}

.buy-9:hover:before {
    height: 100%;
}

.buy-9:hover:after {
    width: 100%;
}

.buy-9 span:hover {
    color: rgb(167, 99, 31);
}

.buy-9 span:before,
.buy-9 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-9 span:before {
    width: 2px;
    height: 0%;
}

.buy-9 span:after {
    width: 0%;
    height: 2px;
}

.buy-9 span:hover:before {
    height: 100%;
}

.buy-9 span:hover:after {
    width: 100%;
}

/* service */

.tong5 {
    width: auto;
    height: 60px;
    background-color: rgba(248, 248, 248, 1);
}

.trangchu5 {
    display: flex;
    padding: 20px;
    margin: 0 25px;
}

.trangchu5 h5 a {
    color: black;
    font-weight: 400;
    padding: 0 10px;
    text-decoration: none;
}

.trangchu5 span {
    font-weight: 400;
    color: rgba(193, 155, 118, 1);
}

.se7 {
    width: auto;
    height: 400px;
    background-color: black;
}

.a-8 h3 {
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.a-9 p {
    color: white;
    text-align: center;
    line-height: 1;
    font-size: 18px;
}

.ser8 {
    background-color: #eef1f5;
    height: 620px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.sr1 {
    height: 400px;
    width: 600px;
    border: 10px solid #dad9d9;
    margin: auto;
}

.noidungsr1 {
    margin: auto;
    padding: 60px;
    width: 700px;
    height: 550px;
}

.noidungsr1 h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.noidung-9 {
    font-size: 20px;
    line-height: 2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.noidung-10 p {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #717171;
}

.hop10 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy11 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buy-11 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-11 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-11:before,
.buy-11:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-11:before {
    height: 0%;
    width: 2px;
}

.buy-11:after {
    width: 0%;
    height: 2px;
}

.buy-11:hover {
    background: transparent;
    box-shadow: none;
}

.buy-11:hover:before {
    height: 100%;
}

.buy-11:hover:after {
    width: 100%;
}

.buy-11 span:hover {
    color: rgb(167, 99, 31);
}

.buy-11 span:before,
.buy-11 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-11 span:before {
    width: 2px;
    height: 0%;
}

.buy-11 span:after {
    width: 0%;
    height: 2px;
}

.buy-11 span:hover:before {
    height: 100%;
}

.buy-11 span:hover:after {
    width: 100%;
}

.ser9 {
    background-color: #f4e1b1;
    height: 620px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.sr2 {
    height: 400px;
    width: 600px;
    border: 10px solid #dad9d9;
    margin: auto;
}

.noidungsr2 {
    margin: auto;
    padding: 60px;
    width: 700px;
    height: 550px;
}

.noidungsr2 h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.noidung-11 p {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #717171;
}

.hop11 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy12 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buy-12 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-12 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-12:before,
.buy-12:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-12:before {
    height: 0%;
    width: 2px;
}

.buy-12:after {
    width: 0%;
    height: 2px;
}

.buy-12:hover {
    background: transparent;
    box-shadow: none;
}

.buy-12:hover:before {
    height: 100%;
}

.buy-12:hover:after {
    width: 100%;
}

.buy-12 span:hover {
    color: rgb(167, 99, 31);
}

.buy-12 span:before,
.buy-12 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-12 span:before {
    width: 2px;
    height: 0%;
}

.buy-12 span:after {
    width: 0%;
    height: 2px;
}

.buy-12 span:hover:before {
    height: 100%;
}

.buy-12 span:hover:after {
    width: 100%;
}

.ser10 {
    background-color: #eef1f5;
    height: 620px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.sr3 {
    height: 400px;
    width: 600px;
    border: 10px solid #dad9d9;
    margin: auto;
}

.noidungsr3 {
    margin: auto;
    padding: 60px;
    width: 700px;
    height: 550px;
}

.noidungsr3 h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.noidung-12 p {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #717171;
}

.hop13 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy13 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buy-13 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-13 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-13:before,
.buy-13:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-13:before {
    height: 0%;
    width: 2px;
}

.buy-13:after {
    width: 0%;
    height: 2px;
}

.buy-13:hover {
    background: transparent;
    box-shadow: none;
}

.buy-13:hover:before {
    height: 100%;
}

.buy-13:hover:after {
    width: 100%;
}

.buy-13 span:hover {
    color: rgb(167, 99, 31);
}

.buy-13 span:before,
.buy-13 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-13 span:before {
    width: 2px;
    height: 0%;
}

.buy-13 span:after {
    width: 0%;
    height: 2px;
}

.buy-13 span:hover:before {
    height: 100%;
}

.buy-13 span:hover:after {
    width: 100%;
}

.ser11 {
    background-color: #f4e1b1;
    height: 620px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.sr4 {
    height: 400px;
    width: 600px;
    border: 10px solid #dad9d9;
    margin: auto;
}

.noidungsr4 {
    margin: auto;
    padding: 60px;
    width: 700px;
    height: 550px;
}

.noidungsr4 h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.noidung-13 p {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #717171;
}

.hop14 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy14 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buy-14 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-14 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-14:before,
.buy-14:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-14:before {
    height: 0%;
    width: 2px;
}

.buy-14:after {
    width: 0%;
    height: 2px;
}

.buy-14:hover {
    background: transparent;
    box-shadow: none;
}

.buy-14:hover:before {
    height: 100%;
}

.buy-14:hover:after {
    width: 100%;
}

.buy-14 span:hover {
    color: rgb(167, 99, 31);
}

.buy-14 span:before,
.buy-14 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-14 span:before {
    width: 2px;
    height: 0%;
}

.buy-14 span:after {
    width: 0%;
    height: 2px;
}

.buy-14 span:hover:before {
    height: 100%;
}

.buy-14 span:hover:after {
    width: 100%;
}

/* contact */

.tong6 {
    width: auto;
    height: 60px;
    background-color: rgba(248, 248, 248, 1);
}

.trangchu6 {
    display: flex;
    padding: 20px;
    margin: 0 25px;
}

.trangchu6 h5 a {
    color: black;
    font-weight: 400;
    padding: 0 10px;
    text-decoration: none;
}

.trangchu6 span {
    font-weight: 400;
    color: rgba(193, 155, 118, 1);
}

.se8 {
    width: auto;
    height: 200px;
    background-color: black;
}

.a-10 {
    width: 100%;
    height: 100%;
    text-align: center;
}

.a-10 h3 {
    line-height: 200px;
    color: white;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ser12 {
    width: 100%;
}

.contact_bodyleft,
.contact_bodyright {
    padding: 50px;
}

.contact_bodyleft h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2;
}

.diachi span,
.dat span,
.letan span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #717171;
}

.contact_bodyright h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2;
}

.lienhe span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #717171;
}

.danhgia {
    line-height: 2;
    max-width: 200px;
}

.hop19 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy19 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buy-19 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 575px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-19 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-19:before,
.buy-19:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-19:before {
    height: 0%;
    width: 2px;
}

.buy-19:after {
    width: 0%;
    height: 2px;
}

.buy-19:hover {
    background: transparent;
    box-shadow: none;
}

.buy-19:hover:before {
    height: 100%;
}

.buy-19:hover:after {
    width: 100%;
}

.buy-19 span:hover {
    color: rgb(167, 99, 31);
}

.buy-19 span:before,
.buy-19 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-19 span:before {
    width: 2px;
    height: 0%;
}

.buy-19 span:after {
    width: 0%;
    height: 2px;
}

.buy-19 span:hover:before {
    height: 100%;
}

.buy-19 span:hover:after {
    width: 100%;
}

/* view1 */

.vnd7 {
    font-size: 15px;
    vertical-align: top;
}

.so7 {
    font-size: 30px;
}


.room-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room-description {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.room-description h1 {

    padding: 10px;
    font-size: 40px;
}

.room-description p {
    font-size: 20px;
}

.gallery-hightlight {
    width: 80%;
    height: 580px;
}

.room-preview {
    display: flex;
    width: 95%;
    border: 2px solid #d3baa0;
}

.room-preview img {
    flex-grow: 1;
    height: 150px;
    opacity: 0.5;
    transition: opacity 0.4s ease;
    cursor: pointer;
    border: 1px solid #ffb64d;
}

img.room-active {
    opacity: 1;
}

.de1,
.de2,
.de3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 60px;
    list-style: none;
}

.book1 {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
}

.la {
    display: block;
    margin-bottom: 8px;
}

.in,
.sa {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.hop15 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy15 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buy-15 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 530px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-15 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-15:before,
.buy-15:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-15:before {
    height: 0%;
    width: 2px;
}

.buy-15:after {
    width: 0%;
    height: 2px;
}

.buy-15:hover {
    background: transparent;
    box-shadow: none;
}

.buy-15:hover:before {
    height: 100%;
}

.buy-15:hover:after {
    width: 100%;
}

.buy-15 span:hover {
    color: rgb(167, 99, 31);
}

.buy-15 span:before,
.buy-15 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-15 span:before {
    width: 2px;
    height: 0%;
}

.buy-15 span:after {
    width: 0%;
    height: 2px;
}

.buy-15 span:hover:before {
    height: 100%;
}

.buy-15 span:hover:after {
    width: 100%;
}


/* view2 */

.vnd8 {
    font-size: 15px;
    vertical-align: top;
}

.so8 {
    font-size: 30px;
}

.room1-gallery1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room1-description1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.room1-description1 h1 {
    padding: 10px;
    font-size: 40px;
}

.room1-description1 p {
    font-size: 20px;
}

.gallery1-hightlight1 {
    width: 80%;
    height: 580px;
}

.room1-preview1 {
    display: flex;
    width: 95%;
    border: 2px solid #d3baa0;
}

.room1-preview1 img {
    flex-grow: 1;
    height: 150px;
    opacity: 0.5;
    transition: opacity 0.4s ease;
    cursor: pointer;
    border: 1px solid #ffb64d;
}

img.room1-active1 {
    opacity: 1;
}


.de4,
.de5,
.de6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 60px;
    list-style: none;
}

.book2 {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
}

.la1 {
    display: block;
    margin-bottom: 8px;
}

.in1,
.sa1 {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.hop16 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy16 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buy-16 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 530px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-16 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-16:before,
.buy-16:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-16:before {
    height: 0%;
    width: 2px;
}

.buy-16:after {
    width: 0%;
    height: 2px;
}

.buy-16:hover {
    background: transparent;
    box-shadow: none;
}

.buy-16:hover:before {
    height: 100%;
}

.buy-16:hover:after {
    width: 100%;
}

.buy-16 span:hover {
    color: rgb(167, 99, 31);
}

.buy-16 span:before,
.buy-16 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-16 span:before {
    width: 2px;
    height: 0%;
}

.buy-16 span:after {
    width: 0%;
    height: 2px;
}

.buy-16 span:hover:before {
    height: 100%;
}

.buy-16 span:hover:after {
    width: 100%;
}

/* view3 */

.vnd9 {
    font-size: 15px;
    vertical-align: top;
}

.so9 {
    font-size: 30px;
}

.room2-gallery2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room2-description2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: rgb(41, 41, 41);
}

.room2-description2 h1 {
    padding: 10px;
    font-size: 40px;
}

.room2-description2 p {
    font-size: 20px;
}

.gallery2-hightlight2 {
    width: 80%;
    height: 580px;
}

.room2-preview2 {
    display: flex;
    width: 95%;
    border: 2px solid #d3baa0;
}

.room2-preview2 img {
    flex-grow: 1;
    height: 150px;
    opacity: 0.5;
    transition: opacity 0.4s ease;
    cursor: pointer;
    border: 1px solid #ffb64d;
}

img.room2-active2 {
    opacity: 1;
}


.de7,
.de8,
.de9 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 60px;
    list-style: none;
}

.book3 {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
}

.la2 {
    display: block;
    margin-bottom: 8px;
}

.in2,
.sa2 {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.hop16 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy17 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buy-17 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 530px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-17 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-17:before,
.buy-17:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-17:before {
    height: 0%;
    width: 2px;
}

.buy-17:after {
    width: 0%;
    height: 2px;
}

.buy-17:hover {
    background: transparent;
    box-shadow: none;
}

.buy-17:hover:before {
    height: 100%;
}

.buy-17:hover:after {
    width: 100%;
}

.buy-17 span:hover {
    color: rgb(167, 99, 31);
}

.buy-17 span:before,
.buy-17 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-17 span:before {
    width: 2px;
    height: 0%;
}

.buy-17 span:after {
    width: 0%;
    height: 2px;
}

.buy-17 span:hover:before {
    height: 100%;
}

.buy-17 span:hover:after {
    width: 100%;
}

/* view4 */

.vnd10 {
    font-size: 15px;
    vertical-align: top;
}

.so10 {
    font-size: 30px;
}

.room3-gallery3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room3-description3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: rgb(41, 41, 41);
}

.room3-description3 h1 {
    padding: 10px;
    font-size: 40px;
}

.room3-description3 p {
    font-size: 20px;
}

.gallery3-hightlight3 {
    width: 80%;
    height: 580px;
}

.room3-preview3 {
    display: flex;
    width: 95%;
    border: 2px solid #d3baa0;
}

.room3-preview3 img {
    flex-grow: 1;
    height: 150px;
    opacity: 0.5;
    transition: opacity 0.4s ease;
    cursor: pointer;
    border: 1px solid #ffb64d;
}

img.room3-active3 {
    opacity: 1;
}

.de10,
.de11,
.de12 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 60px;
    list-style: none;
}

.book4 {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
}

.la3 {
    display: block;
    margin-bottom: 8px;
}

.in3,
.sa3 {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.hop18 {
    width: 90%;
    margin: 40px auto;

}


.custom-buy18 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}




.buy-18 {
    background: rgb(167, 99, 31);
    background: linear-gradient(0deg, rgb(167, 99, 31) 0%, rgb(217, 161, 104) 100%);
    width: 530px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.buy-18 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buy-18:before,
.buy-18:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(167, 99, 31);
    transition: all 0.3s ease;
}

.buy-18:before {
    height: 0%;
    width: 2px;
}

.buy-18:after {
    width: 0%;
    height: 2px;
}

.buy-18:hover {
    background: transparent;
    box-shadow: none;
}

.buy-18:hover:before {
    height: 100%;
}

.buy-18:hover:after {
    width: 100%;
}

.buy-18 span:hover {
    color: rgb(167, 99, 31);
}

.buy-18 span:before,
.buy-18 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(224, 158, 92);
    transition: all 0.3s ease;
}

.buy-18 span:before {
    width: 2px;
    height: 0%;
}

.buy-18 span:after {
    width: 0%;
    height: 2px;
}

.buy-18 span:hover:before {
    height: 100%;
}

.buy-18 span:hover:after {
    width: 100%;
}

/* user profile */

.tong7 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profile-picture {
    position: relative;
    border-radius: 50%;
}

/* gioi thieu */

